.favor-icon--js-active,
.favor-icon--js-non-active {
  cursor: pointer;
}

.favor-icon--js-active {
  fill: black;
}

.favor-icon--js-non-active {
  fill: none;
}
/*# sourceMappingURL=iconCard.css.map */